@media (max-width: 75em) {
    .header {
        padding: 3.2rem 14rem 0 5rem;
    }
    
    .hero-text {
        flex-basis: 42rem;
    }

    .hello-text {
        font-size: 1.6rem;
    }

    .hello-main-text {
        font-size: 4.8rem;
    }

    .para-text {
        font-size: 1.2rem;
    }
}

@media (max-width: 56em) {

    .header {
        padding: 3.2rem 1.6rem 0 2.5rem;
    }

    .hero {
        flex-wrap: wrap;
        justify-content: center;
    }

    .btn-about {
        display: inline-block;
        margin-left: 30%;
    }

    .container {
        padding: 0 1.6rem;
    }

    .flex-container {
        padding-top: 3.2rem;
        flex-wrap: wrap;
        justify-content: center;
    }

    .btm-card {
        gap: 3rem;
        padding: 2.6rem 1.5rem;
    }

    footer img {
        margin-right: 14rem;
    }
}

@media (max-width: 46em) {

    .btn-mobile-nav {
        display: block;
    }

    .main-nav {
        background-color: rgba(0, 0, 0, 0.86);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;

        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.5s;

        /* Allows No transition at all */
        /* Hide the element visully */
        opacity: 0;
        /* Hide from mouse and keyboard */
        pointer-events: none;
        /* Hiding from screen readers */
        visibility: hidden;

    }
    .main-nav ul {
        flex-direction: column;
        gap: 4.8rem; 
    }

    .nav-open .main-nav {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
    }
    
    .nav-open .icon-mobile-nav[name="menu-outline"] {
        display: none;
    }
    
    .nav-open .icon-mobile-nav[name="close-outline"] {
        display: block;
    }

    .nav-item {
        font-size: 2.4rem;
    }

    .fa-caret-down {
        line-height: 3.2rem;
    }

    .container {
        padding: 0 3.2rem;
    }

    .grid-catalog {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        row-gap: 3.2rem;
    }

    .inside-catl {
        display: grid;
        place-items: center;
        padding: 2rem 4rem;
        
    }

    .text-1 {
        grid-column: 1;
        grid-row: 2 / 3;
    }

    .text-3 {
        grid-column: 1;
        grid-row: 6 / 7;
    }

    .btm-card {
        flex-direction: column;
        gap: 4.8rem;
    }

    .btm-card-div {
        flex-basis: auto;
    }

    footer img {
        margin-right: 8.5rem;
    }
}

@media (max-width: 37em) {

    .hello-text {
        font-size: 1.2rem;
    }

    .hello-main-text {
        font-size: 4.2rem;
    }

    .para-text {
        font-size: 1rem;
    }

    .btn {
        font-size: 1.2rem;
    }

    .flex-card {
        padding: 3rem 1.5rem 3rem 2.4rem;
    }

    .card-head {
        font-size: 2rem;
    }

    .card-para {
        font-size: 1.6rem;
    }

    .know-more, .know-more span {
        font-size: 1.4rem;
    }

    .num-head {
        font-size: 6.4rem;
    }

    .num-text {
        font-size: 2rem;
    }

    .hero-one {
        height: 40rem;
    }

    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        margin: 5rem 0;
    }

    .grid-1 {
        grid-column: 1 / -1;
        padding: 0;
    }

    .feature-wrap {
        margin-top: 5rem;
        padding: 3.2rem 0;
    }
    
    .wrap-left {
        flex-basis: 30rem;
    }

    footer img {
        margin-right: 5rem;
    }

    .btm-card {
        padding: 2.6rem 2.4rem;
    }

    .btm-card-head {
        font-size: 3.6rem;
    }

    .container {
        padding: 0 1rem;
    }

    .feature-text {
        font-size: 2.4rem;
    }

    .feature-para {
        font-size: 1rem;
        margin-top: 1rem;
    }
}

@media (max-width: 28em) {

    .hero-one {
        height: 30rem;
    }

    .hello-text {
        font-size: 1rem;
    }

    .hello-main-text {
        font-size: 3.5rem;
    }

    .para-text {
        font-size: 0.8rem;
    }

    .btn-about {
        margin-top: 2.4rem;
    }

    .card-head {
        font-size: 1.8rem;
    }
    
    .card-para {
        font-size: 1.2rem;
    }

    .know-more, .know-more span {
        font-size: 1.4rem;
    }

    .wrap-left {
        flex-basis: 18rem;
    }

    .feature-text {
        font-size: 1.6rem;
    }

    .feature-para {
        font-size: 0.8rem;
    }

    .grid-catalog {
        row-gap: 1rem;
    }

    .inside-catl {
        padding: 3.2rem 2.5rem;
    }

    .catls {
        height: 15rem;
    }

    .btm-card {
        padding: 2.4rem 1rem;
        gap: 3.2rem;
    }

    .btm-card-head {
        font-size: 2.4rem;
    }

    .btm-nav-list {
        font-size: 1rem;
    }

    footer img {
        margin-right: 1rem;
    }

    .num-head {
        font-size: 4.8rem;
    }

    .num-text {
        font-size: 1.5rem;
    }

    .num-head-num {
        font-size: 3.6rem;
    }
}